* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body {
    background-color: black;
    
    
}

.banner {
    height: 750px;
    width: 100%;
    background-position: center;
    background-image: url(assets/bg.jpg);
    background-size:max(100vh,100vw) ;
}

.box {
    height: 750px;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0px;
}

.header {
    max-width: 60vw;
    height: 100px;
    margin: auto;
    display: flex;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    opacity: 0.9;
    z-index: 1;
    
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 
    
}

.buttons button {
    height: 30px;
    width: 80px;
    z-index: 1;
    margin: 3px;
}
.buttons .lang{
    background-color: rgba(240, 255, 255, 0);
    border: 2px wheat solid;
    border-radius: 5px;
}
.buttons .sign{
    background-color: red;
    border: 2px solid white;
    border-radius: 5px;

}
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 30px;
    top: 110px;
    gap: 33px;
}
.heading h6{
    margin-top: 25px;
}
.heading p{
    font-size: large;
    margin-top: 15px;
}
.heading input{
    height: 35px;
    width: 320px;
    background-color: rgba(49, 41, 41, 0.623);
    border: 1px solid white;
    border-radius: 4px;
    margin-top: 30px;

}
.heading button{
    height: 35px;
    width: 180px;
    background-color: red;
    color: white;
    border-radius: 4%;
    border: 1px solid white;
    font-size: large;
}
.seperation{
    height: 7px;
    width: 100%;
    background-color: grey;
}
.page2{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 200px;
}
.page2 .text span{
    font-size: 27px;
}
.page2 .text .big{
    font-size: 50px;
    font-weight: bolder;
}
.tv {
    position: relative;
}

.tv img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.tv video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}


@media only screen and (max-width:1188px) {
    .page2{

        flex-wrap:wrap;
        margin: 50px 60px;
        
    }
    .page2 .tv img{
        height: 282px;
        width: 334px;
    }
    .page2 .tv video {
        width: 312px;
        right: 10px;
    }
}
.page3 .big{
    font-size: 50px;
    font-weight: 800;

}
.page3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    margin:50px 180px;
}
.page3 img{
    height: 400px;
}
.last{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.last h1{
    margin: 40px;
    font-size: 50px;
    font-weight: 900;
}
.last div{
    transition: all 2s ease-out ;
    height: 75px;
    width: 70vw;
    background-color: rgb(63, 60, 60);
    margin: 15px;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.last span{
    margin: 15px;font-size: larger;
}
.last .icon{
    font-size: 40px;
}
@media only screen and (max-width:1180px){
    .page3{
        flex-wrap: wrap;
    
    }
    .page3 img{
        width: 370px;
        object-fit: cover;
    }
}
footer{
    margin:80px 200px;
    font-weight:500;
    
}
footer .item-box{
    padding: 40px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-items{
    height: 170px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}